.layout-wrapper {
  display: flex;
  min-height: 100vh;
  background-color: #f8fafc;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 260px; /* Same as Sidebar width */
  transition: margin 0.3s ease;
}

@media (max-width: 1024px) {
  .main-container {
    margin-left: 0;
  }
}